<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Webix</title>
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" />
    <script src="https://cdn.webix.com/edge/webix.js"></script>
  </head>
  <body>
    <script>
     webix.ready(function () {
  if ($$("productForm")) $$("productForm").destructor();
  if ($$("productTable")) $$("productTable").destructor();

  webix.ui({
    rows: [
      {
        view: "form",
        id: "productForm",
        elements: [
          { view: "text", label: "Nama", name: "name" },
          { view: "text", label: "Kategori", name: "category" },
          { view: "text", label: "Stok", name: "stock" },
          { view: "text", label: "Harga", name: "price" },
          { view: "text", label: "Lokasi", name: "location" },
          {
            cols: [
              {
                view: "button",
                value: "Tambah Produk",
                width: 150,
                click: function () {
                  const form = $$("productForm");
                  if (form.validate()) {
                    const values = form.getValues();
                    webix
                      .ajax()
                      .headers({ "Content-Type": "application/json" })
                      .post(
                        "http://127.0.0.1:5000/api/data",
                        JSON.stringify(values)
                      )
                      .then(function (res) {
                        webix.message("Produk berhasil ditambahkan");
                        $$("productTable").clearAll();
                        $$("productTable").load("http://127.0.0.1:5000/api/data");
                        form.clear();
                      })
                      .catch(function (err) {
                        webix.message({ type: "error", text: "Gagal menambahkan produk" });
                        console.error(err);
                      });
                  }
                },
              },{
                view : "button",
                value : "Update Produk",
                width : 150,
                click : function() {
                  const form = $$("productForm");
                  const table = $$("productTable");
                  const selected = table.getSelectedItem();

                  if (!selected) {
                    webix.message({type : "error", text : "Pilih produk dulu dari tabel"});
                    return;
                  }

                  const values = form.getValues();
                  webix.ajax()
                  .headers({"Content-Type" : "application/json"})
                  .put(
                    `http://127.0.0.1:5000/api/data/${selected._id}`,
                    JSON.stringify(values)
                  )
                  .then(() =>
                  {
                    webix.message("Produk berhasil diperbaharui");
                    table.clearAll();
                    table.load("http://127.0.0.1:5000/api/data");
                    form.clear();
                  })
                  .catch(err => {
                    webix.message({type : "error", text : "Gagal memperbarui produk"});
                    console.error(err);
                  })
                }
              }
            ],
          },
        ],
        rules: {
          name: webix.rules.isNotEmpty,
          category: webix.rules.isNotEmpty,
          stock: webix.rules.isNumber,
          price: webix.rules.isNumber,
          location: webix.rules.isNotEmpty,
        },
      },
      {
        view: "datatable",
        id: "productTable",
        select : "row",
        columns: [
          { id: "_id", header: "ID" },
          { id: "name", header: "Nama" },
          { id: "category", header: "Kategori" },
          { id: "stock", header: "Stok" },
          { id: "price", header: "Harga" },
          { id: "location", header: "Lokasi" },
        ],
        url: "http://127.0.0.1:5000/api/data",
        autoheight: true,
        autowidth: true,
        on : {
          onAfterSelect : function(id){
            const item = this.getItem(id);
            $$("productForm").setValues(item);
          }
        }
      },
    ],
  });
});

    </script>
  </body>
</html>
