<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" />
    <script src="https://cdn.webix.com/edge/webix.js"></script>
    <style>
      .add_btn {
        background: #28a745;
        color: white;
        border: none;
        padding: 3px 8px;
        cursor: pointer;
        border-radius: 4px;
      }
      .sub_btn {
        background: #dc3545;
        color: white;
        border: none;
        padding: 3px 8px;
        cursor: pointer;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <script>
      // sanitasi untuk mencegah xss
      function sanitize(input) {
        return String(input).replace(/[<>]/g, "");
      }

      // reload data
      function reloadTable() {
        webix
          .ajax()
          .get("http://127.0.0.1:5000/api/data?t=" + Date.now())
          .then(function (res) {
            const result = res.json();
            if (result.products) {
              $$("productTable").clearAll();
              $$("productTable").parse(result.products);
            } else {
              webix.message({
                type: "error",
                text: "Format data tidak sesuai",
              });
            }
          })
          .catch(function () {
            webix.message({ type: "error", text: "Gagal reload data" });
          });
      }

      webix.ready(function () {
        webix.ui({
          rows: [
            {
              view: "form",
              id: "productForm",
              rules: {
                name: webix.rules.isNotEmpty,
                category: webix.rules.isNotEmpty,
                location: webix.rules.isNotEmpty,
                price: function (value) {
                  return /^[0-9]+$/.test(value);
                },
                stock: function (value) {
                  return /^[0-9]+$/.test(value);
                },
              },
              elements: [
                {
                  view: "text",
                  label: "Nama",
                  name: "name",
                  required: true,
                  invalidMessage: "Nama wajib diisi ",
                },
                {
                  view: "richselect",
                  label: "Kategori",
                  name: "category",
                  required: true,
                  invalidMessage: "Kategori wajib dipilih",
                  options: [
                    { id: "elektronik", value: "Elektronik" },
                    { id: "aksesoris", value: "Aksesoris" },
                    { id: "furniture", value: "Furniture" },
                    { id: "alat-tulis", value: "Alat tulis" },
                    { id: "lainnya", value: "Lainnya..." },
                  ],
                },
                {
                  view: "text",
                  label: "Stok",
                  name: "stock",
                  required: true,
                  invalidMessage: "Stok harap diisi dengan angka yang valid",
                },
                {
                  view: "text",
                  label: "Harga",
                  name: "price",
                  required: true,
                  invalidMessage: "Harga harap diisi dengan angka yang valid",
                },
                {
                  view: "text",
                  label: "Lokasi",
                  name: "location",
                  required: true,
                  invalidMessage: "Lokasi stok wajib diisi",
                },
                {
                  cols: [
                    {
                      view: "button",
                      id: "subitBtn",
                      value: "Tambah produk",
                      css: "webix_primary",

                      click: async function () {
                        const form = $$("productForm");

                        // validasi form dasar required dan pattern
                        if (!form.validate()) {
                          webix.message({
                            type: "error",
                            text: "Periksa kembali input form kamu",
                          });
                          return;
                        }

                        let values = form.getValues();

                        // sanitasi input
                        for (let key in values) {
                          values[key] = sanitize(values[key]);
                        }

                        // validasi  untuk cek stok dan harga yang benar
                        if (parseInt(values.stock) < 0) {
                          webix.message({
                            type: "error",
                            text: "Stok tidak boleh negatif",
                          });
                          return;
                        }

                        if (parseInt(values.price) < 0) {
                          webix.message({
                            type: "error",
                            text: "Harga tidak boleh negatif",
                          });
                          return;
                        }

                        // kirim data ke backend
                        this.disable();

                        try {
                          let response = await webix
                            .ajax()
                            .headers({ "Content-Type": "application/json" })
                            .post(
                              "http://127.0.0.1:5000/api/data",
                              JSON.stringify(values)
                            );

                          let res = response.json();

                          if (res.status === "success") {
                            webix.message({
                              type: "success",
                              text: "Produk berhasil ditambahkan",
                            });
                            form.clear();
                            reloadTable();
                            // update table
                          } else {
                            webix.message({
                              type: "error",
                              text: res.message || "Gagal menambahkan produk",
                            });
                          }
                        } catch (err) {
                          console.error(err);
                          webix.message({
                            type: "error",
                            text: "Terjadi kesalahan saat mengirim data",
                          });
                        } finally {
                          this.enable();
                        }
                      },
                    },
                    {
                      view: "button",
                      id: "updateBtn",
                      value: "Update Produk",
                      css: "webix_primary",
                      click: async function () {
                        const form = $$("productForm");

                        if (!form.validate()) {
                          webix.message({
                            type: "error",
                            text: "Periksa kembali form input kamu",
                          });
                          return;
                        }

                        let values = form.getValues();

                        for (let key in values) {
                          values[key] = sanitize(values[key]);
                        }

                        if (parseInt(values.stock) < 0) {
                          webix.message({
                            type: "error",
                            message: "Stok tidak boleh negatif",
                          });
                          return;
                        }

                        if (parseInt(values.price) < 0) {
                          webix.message({
                            type: "error",
                            message: "Harga tidak boleh negatif",
                          });
                          return;
                        }

                        // pastikan id jika tidak ada maka tidak bisa update
                        if (!values._id) {
                          webix.message({
                            type: "error",
                            text: "ID produk tidak ditemukan",
                          });
                          return;
                        }

                        this.disable();

                        try {
                          let response = await webix
                            .ajax()
                            .headers({ "Content-Type": "application/json" })
                            .put(
                              `http://127.0.0.1:5000/api/data/${values._id}`,
                              JSON.stringify(values)
                            );

                          let res = response.json();

                          if (res.status === "success") {
                            webix.message({
                              type: "success",
                              text: "Produk berhasil diperharui",
                            });
                            form.clear();
                            reloadTable();
                          } else {
                            webix.message({
                              type: "error",
                              text: res.message || "Gagal mengupdate produk",
                            });
                          }
                        } catch (err) {
                          webix.message({
                            type: "error",
                            text: "Terjadi kesalahan saat mengirim data",
                          });
                        } finally {
                          this.enable();
                        }
                      },
                    },
                    {
                      view: "button",
                      id: "deleteBtn",
                      value: "Hapus produk",
                      css: "webix_danger",
                      click: async function () {
                        const form = $$("productForm");
                        const values = form.getValues();

                        if (!values._id) {
                          webix.message({
                            type: "error",
                            text: "Pilih produk dari tabel dulu",
                          });
                          return;
                        }

                        const confirm = await webix.confirm(
                          "Yakin ingin menghapus produk ini?"
                        );
                        if (!confirm) return;

                        this.disable();

                        try {
                          let response = await webix
                            .ajax()
                            .del(
                              "http://127.0.0.1:5000/api/data/" + values._id
                            );

                          let result = response.json();

                          if (result.status === "success") {
                            webix.message({
                              type: "success",
                              text: "Produk berhasil dihapus",
                            });
                            form.clear();
                            reloadTable();
                          } else {
                            webix.message({
                              type: "error",
                              text: result.message || "Gagal menghapus",
                            });
                          }
                        } catch (err) {
                          webix.message({
                            type: "error",
                            text: "Gagal mengirimkan permintaan hapus",
                          });
                        } finally {
                          this.enable();
                        }
                      },
                    },
                  ],
                },
              ],
            },
            {
              view: "datatable",
              id: "productTable",
              select: "row",
              columns: [
                { id: "_id", header: "ID" },
                { id: "name", header: "Nama", width: 150 },
                { id: "category", header: "Kategori" },
                { id: "stock", header: "Stok" },
                { id: "price", header: "Harga" },
                { id: "location", header: "Lokasi" },
                {
                  id: "actions",
                  header: "Aksi",
                  template: function (obj) {
                    return ` 
                <span style="cursor:pointer; color:green;" class="addStock" data-id="${obj._id}"> + </span>
                <span style="cursor:pointer; color:red; margin-left:10px;" class="subStock" data-id="${obj._id}"> - </span>
                `;
                  },
                  width: 150,
                },
              ],
              autoheight: true,
              autowidth: true,
              data: [],
              on: {
                onAfterSelect: function (id) {
                  const item = this.getItem(id);
                  $$("productForm").setValues(item);
                },
              },
            },
          ],
        });

        // setelah webix.ui selesai render
        $$("productTable").$view.addEventListener("click", async function (e) {
          if (
            e.target.classList.contains("addStock") ||
            e.target.classList.contains("subStock")
          ) {
            const productId = e.target.dataset.id;
            const action = e.target.classList.contains("addStock")
              ? "add"
              : "subtract";

            const qty = await webix.prompt("Masukkan jumlah stok:");
            if (!qty || isNaN(qty) || qty <= 0) {
              webix.message({ type: "error", text: "Jumlah tidak valid" });
              return;
            }

            try {
              const response = await webix
                .ajax()
                .headers({ "Content-Type": "application/json" })
                .patch(
                  `http://127.0.0.1:5000/api/data/${productId}`,
                  JSON.stringify({ action: action, quantity: parseInt(qty) })
                );

              const res = response.json();
              if (res.status === "success") {
                webix.message({
                  type: "success",
                  text: `Stok berhasil ${
                    action === "add" ? "ditambah" : "dikurangi"
                  }`,
                });
                reloadTable();
              } else {
                webix.message({
                  type: "error",
                  text: res.message || "Gagal mengubah stok",
                });
              }
            } catch (err) {
              webix.message({ type: "error", text: "Gagal mengirim PATCH" });
            }
          }
        });

        // ambil data dari mongo menggunakan ajax
        webix
          .ajax()
          .get("http://127.0.0.1:5000/api/data")
          .then(function (res) {
            const result = res.json();
            console.log("Data dari API : ", result);

            if (result.products) {
              $$("productTable").parse(result.products);
              webix.message("Data produk berhasil dimuat");
            } else {
              webix.message({ type: "error", text: "Tidak ada data produk" });
            }
          })
          .catch(function (err) {
            console.error(err);
            webix.message({
              type: "error",
              text: "Gagal memuat data dari server",
            });
          });
      });
    </script>
  </body>
</html>
